<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group {{if ingredients.name "has-error"}}">
            <label for="name" class="col-lg-2 control-label">Név</label>
            <div class="col-lg-10">
                <input class="form-control" id="name" name="name" placeholder="pl. só, bors" type="text" value="{{data.name}}"/>
                <span class="help-block">{{ingredients.name}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button {{action "submit"}} class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>