{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Receptjeim</h1>
</div>

{{ingredient-list ingredients=model}}

<p>
    <button {{action "showModal" "new-ingredient-modal" "ingredients.list"}} class="btn btn-default">Új hozzávaló</button>
</p>
